{% extends 'index.html' %}

{% block content %}
{% include 'alert.html' %}


<style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>

<div class="row w-50 mx-auto mt-3">
    <div class="col">
        <div class="col-8 mx-auto">
            <form action="{{url_for('add_client')}}" method="POST">
                <br>

                <br>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Client Full Name<span style="color:red">*</span></label>
                        <input type="text" class="form-control" value="{{request.form['client_name']}}" placeholder="Client Name" name="client_name"
                               required>
                    </div>
                    <div class="col">
                        <label class="form-label">Email<span style="color:red">*</span></label>
                        <input type="text" class="form-control" placeholder="Email" value="{{request.form['email']}}" name="email" required>

                    </div>
                </div>

                <div>
                    <label class="form-label">Phone No.<span style="color:red">*</span></label>
                    <input type="text" class="form-control" placeholder="Phone No." value="{{request.form['phone_no']}}" name="phone_no">
                    <br>
                </div>
                <div>
                    <label class="form-label">Address<span style="color:red">*</span></label>
                    <textarea class="form-control" name="address" placeholder="Address" required>{{request.form['address']}}</textarea>
                    <br>
                </div>
                <div>
                    <label class="form-label">Amount Agreed Upon (In Rs.)<span style="color:red">*</span></label>
                    <input type="number" class="form-control" value="{{request.form['final_deal']}}" placeholder="Final Deal Amount" name="final_deal"
                           required>
                    <br>
                </div>

                <div class="d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-primary">Create Client</button>
                </div>

            </form>
            <br>
        </div>

    </div>
</div>


{% include 'footer.html' %}
{% endblock %}