{%extends "index.html"%}

{%block content%}

{% include 'alert.html' %}
<br>

<style>

.cell-4 {
  width: 200px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status {
  width: 85px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


</style>


<!--    <div class="w-75" style="overflow-y:scroll;overflow-x:hidden;height:450px; margin:auto; margin-top:2px">-->

<div class="w-75 mx-auto" style="overflow-y:scroll; height:400px;overflow-x:hidden">
    <form method="GET" action="{{ url_for('search_vouchers') }}">
        <div class="row w-100 mx-auto mb-4">
            <div class="col-5">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <input type="text" class="form-control form-control-sm" style="height:20px" name="search"
                               placeholder="Search" value="{{request.args['search']}}"/>

                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="submit" class="btn btn-info btn-sm"
                        >Search
                        </button>

                    </div>

                </div>
            </div>

            <div class="col-7 text-start">
                <h5 class="mb-2">List of Payment Vouchers</h5>
            </div>
            <div class="col text-end mt-3">
                <a class="add_button"
                   style="text-decoration:none;color:green;font-size:17px;padding:7px;font-weight:bold;margin-right:11px"
                   href="{{url_for('create_new_payment_voucher')}}" id="add">Create <i
                        class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </form>
    <form>
        <table class="table table-hover table-sortable" id="table-count">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>Ref.No.</th>
                <th>Payment Date</th>
                <th>Approval Date</th>
                <th>Client</th>
                <th>Bill No.</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for voucher in all_vouchers %}
            <tr>
                <td></td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{
                    voucher.reference_no }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{
                    voucher.payment_date }}
                </td>
                {% if voucher.approval_date %}
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{ voucher.approval_date }}
                </td>
                {%else%}
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >Not Yet Approved
                </td>
                {% endif %}
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{ voucher.client_name.client_name
                    }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{
                    voucher.bill_no.bill
                    }}
                </td>

                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{ voucher.amount }}
                </td>

                <td style="cursor: pointer; border-radius:20px; text-align:center;width:100px" class="status"
                    onclick="location.href='{{ url_for('voucher_details', voucher_id = voucher.id) }}'"
                >{{ voucher.status.value }}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script src="{{url_for('static', filename='all_payment_vouchers_list.js')}}"></script>
{%endblock%}