{%extends "index.html"%}

{%block content%}

<style>

        table {
            counter-reset: 1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);

        }



</style>


<br>


<h4 style="text-align:center" class="mb-2">Client List</h4>
<form method="POST" action="{{ url_for('search_records') }}">
        <div class="row" style="margin-left:2px">
            <div class="col-2 d-flex justify-content-end">
                <input type="text" class="form-control form-control-sm w-75" name="search"
                       placeholder="Search"/>
            </div>
            <div class="col-2 d-flex justify-content-start">
                <button type="submit" class="btn btn-primary btn-sm" onclick="location.href='{{ url_for('search_records') }}'">Search
                </button>
            </div>

        </div>
    </form>
<br>

<div class="w-75" style="overflow-y:scroll;overflow-x:hidden;height:450px; margin:auto; margin-top:2px">
    <div class="d-block" style="position:fixed;top:9rem; left:70rem;">
        <div class="mb-1">
            <a class="add_button"
               style="text-decoration:none;color:green;font-size:17px;padding:7px;font-weight:bold"
               href="{{ url_for('add_client') }}" id="add">Add <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row mb-1">

        <div class="col-9 d-flex justify-content-end">
            <form method="POST" action="/get_checked_boxes_for_client">

                <input type="text" id="rec_ids" name="rec_ids" hidden/>
                <button type="submit" class="del_button" id="stu_ids_submit">
                    Del Selected<i class="fa fa-minus" aria-hidden="true"></i>
                </button>

            </form>
        </div>

        <div class="col d-flex justify-content-end">
            <form action="{{ url_for('csv_file_record_to_update') }}" method="POST">

                <div class="">
                    <input type="text" id="check_rec_ids" name="check_rec_ids" hidden/>
                    <button type="submit" class="btn btn-primary" id="check_rec_ids_btn">Generate Custom Report
                    </button>
                </div>
                <div>
                    <input type="checkbox" name="update_check" id="update_check">
                    <label id="update_label">Update Record</label>
                </div>
            </form>
        </div>
    </div>


    <form action="" method="post">
        <table class="table table-hover table-sortable text-center" id="table-sortable">

            <thead>
            <tr>
                <th>S.No.</th>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Address</th>
                <th>Deal (In Rs.)</th>
                <th>GST (18%)</th>

            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}

            <tr style="cursor:pointer">
                <td>
                    <input onchange="check_box()" class="form-check-input" name="check-box" id="check"
                           type="checkbox"
                           value="{{ customer.id }}">
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'">{{ customer.customer_name }}</td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'">{{ customer.email }}</td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'">{{ customer.phone_no }}</td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'">{{ customer.address }}</td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'">{{ customer.final_deal }}</td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'">{{ customer.gst }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>
</div>
<br>

<script src="{{url_for('static', filename='client_checkbox.js')}}"></script>


{%endblock%}