{% extends "index.html" %}

{% block content %}

<style>

        table {
            counter-reset: 1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);

        }





</style>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:left">
                Do you really want to delete this record?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm"
                        onclick="del_fun()">
                    Delete
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                        onclick="location.href='{{url_for('dashboard')}}'">Close
                </button>
            </div>
        </div>
    </div>
</div>

<br>


<form method="POST" action="{{ url_for('search_records') }}">
    <div class="row" style="margin-left:2px">
        <div class="col-2 d-flex justify-content-end">
            <input type="text" class="form-control form-control-sm w-75" style="height:20px" name="search"
                   placeholder="Search"/>
        </div>
        <div class="col-2  justify-content-start">
            <button type="submit" class="btn btn-primary btn-sm"
                    onclick="location.href='{{ url_for('search_records') }}'">Search
            </button>
        </div>
        <div class="col text-start">
            <h4 class="mb-2" style="margin-left:10rem">Data Sheet</h4>
        </div>
    </div>
</form>
<br>

<div class="w-75" style="overflow-y:scroll;overflow-x:hidden;height:450px; margin:auto; margin-top:2px">
    <div class="d-block" style="position:fixed;top:9rem; left:70rem;">
        <div class="mb-1">
            <a class="add_button"
               style="text-decoration:none;color:green;font-size:17px;padding:7px;font-weight:bold"
               href="{{ url_for('add_record') }}" id="add">Add <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row mt-2">

        <div class="col-2 text-center" id="action_dropdown">
            <div class="btn-group btn-group-sm mt-2">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item" data-target="#exampleModalCenter" data-toggle="modal">
                        Delete Selected
                    </button>
                    <button type="button" class="dropdown-item" onclick="update_fun()">Update Status</button>
                </div>
            </div>
        </div>
        <div class="col text-end ">
            <form action="{{ url_for('csv_file_record_to_update') }}" method="POST">

                <div class="mt-2">
                    <input type="text" id="check_rec_ids" name="check_rec_ids" hidden/>
                    <button type="submit" class="btn btn-primary btn-sm" id="check_rec_ids_btn">Generate Custom Report
                    </button>
                </div>
                <div>
                    <input type="checkbox" name="update_check" class="" id="update_check">
                    <label id="update_label">Update Record</label>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include 'alert.html' %}
        </div>
    </div>
    <form action="" method="post">
        <table class="table table-hover table-sortable" id="table-sortable">

            <thead>
            <tr class="text-center">
                <th title="Serial Number">S.No.</th>
                <th title="Bill No.">Bill No.</th>
                <th title='Bill Date'>Bill Date</th>
                <th title="Client Name">Client</th>
                <th title="Shows Current Status of Payment">Status</th>


            </tr>
            </thead>

            <tbody>
            {% for record in all_records %}
            <tr class="text-center">

                <td>
                    <input onchange="check_box()" class="form-check-input" name="check-box" id="check"
                           type="checkbox"
                           value="{{ record.id }}">
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = record.id) }}'">{{ record.bill }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = record.id) }}'">{{ record.bill_date
                    }}
                </td>

                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = record.id) }}'">
                    {{ record.client_name.client_name }}
                </td>

                <td style="cursor: pointer"
                    onclick="location.href='{{ url_for('record_details', record_id = record.id) }}'"
                    class="status">
                    {{ record.status_name.status_name }}
                </td>


            </tr>

            {% endfor %}
            </tbody>
        </table>


    </form>
    <div hidden>
        <form method="POST" action="/get_checked_boxes">

            <input type="text" id="rec_ids" name="rec_ids"/>
            <button type="submit" class="del_button" id="stu_ids_submit">
                Del Selected<i class="fa fa-minus" aria-hidden="true" style="display:none"></i>
            </button>

        </form>
    </div>

    <div hidden>
        <form method="POST" action="/send_rec_id">

            <input type="text" id="send_rec_ids" name="send_rec_ids"/>
            <button type="submit" class="update_button" id="class_ids_submit">
                Update Status<i class="fa fa-arrow-up" aria-hidden="true" style="display:none"></i>
            </button>

        </form>
    </div>
</div>

<script src="{{url_for('static', filename='checkbox_del.js')}}"></script>

{% endblock %}