{%extends "index.html"%}

{%block content%}


<h4 style="text-align:center; margin-top:5rem">Payment Status List</h4>
<br>

<div style="margin:auto" class="d-grid gap-2 col-4 mx-auto">
    <div style="overflow-y:scroll; height:200px; margin-left:10px">
        <table class="table table-hover table-sortable text-center">
            <thead>
            <tr>
                <th>Status Name</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for stat in all_status %}
            <tr>
                <td>{{ stat.status_name }}</td>

                <td>
                    <button type="button" id="del" class="btn btn-danger btn-sm" onclick="del_rec({{stat.id}})"
                            data-target="#exampleModalCenter" data-toggle="modal"
                    >Delete
                    </button>
                    <button type="button" class="btn btn-success btn-sm"
                            onclick="location.href='{{url_for('update_payment_status', status_id = stat.id)}}'"
                    >Edit
                    </button>

                </td>

                <td>
                    <!-- Button trigger modal -->
<!--                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--                        Launch demo modal-->
<!--                    </button>-->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{stat.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align:left">
                                    Do you really want to delete this record?
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger btn-sm" id="modal_del{{stat.id}}"
                                            href="location.href='{{url_for('delete_payment_status', status_id = stat.id)}}'">
                                        Delete
                                    </a>
                                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                            onclick="location.href='{{url_for('show_all_payment_status')}}'">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
        <form action="{{url_for('payment_status')}}" method="POST">

            <div>
                <label class="form-label">Status Name</label>
                <input type="text" class="form-control" placeholder="Status Name" name="status_name" required>
                <br>
            </div>
            <div class="d-grid gap-2 col-5 mx-auto w-50">
                <button type="submit" class="btn btn-primary btn-sm">Add</button>
            </div>

        </form>

    </div>
</div>
<script>
function del_rec(id){
    $('#exampleModalCenter'+id).modal('show');
    $('#modal_del'+id).attr('href','')
    $('#modal_del'+id).attr('href','/delete_payment_status/'+id)
 }

</script>
{%endblock%}