{%extends "index.html"%}

{%block content%}
{%- for category, message in get_flashed_messages(with_categories = true) %}
<span style="width:50px;">

    {%if category== 'success'%}
        <li class="p-1 mb-1 bg-success text-white">{{ message }}</li>
    {%else%}
        <li class="p-1 mb-1 bg-danger text-white">{{ message }}</li>
    {%endif%}

</span>
{%- endfor %}

<style>
           table {
            counter-reset: 1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);

        }

.cell-4 {
  width: 200px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status {
  width: 85px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

</style>

<br>


<h4 style="text-align:center">Pending Payments</h4>
<br>


<div class="w-75" style="overflow-y:scroll;overflow-x:hidden;height:450px; margin:auto; margin-top:2px">
    <div style="overflow-y:scroll; height:200px; margin-left:10px">
        <table class="table table-hover table-sortable">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>Client</th>
                <th>Bill No.</th>
                <th>Bill Date</th>
                <th>RO Date</th>
                <th>DoP</th>
                <th>AD/GP/Others.</th>
                <th>Deal (Rs.)</th>
                <th>GST (18%)</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for pending in pending_list %}
            <tr>
                <td></td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{
                    pending.client_name.client_name }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{ pending.bill }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{
                    pending.bill_date }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{
                    pending.date_of_order }}
                </td>

                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{ pending.dop }}
                </td>
                <td class="cell-4" style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{
                    pending.content_advt }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{
                    pending.client_name.final_deal }}
                </td>
                <td style="cursor: pointer;"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'">{{
                    pending.client_name.gst }}
                </td>


                <td style="color:red; font-weight:600; cursor: pointer;border-radius:20px; text-align:center"
                    onclick="location.href='{{ url_for('record_details', record_id = pending.id) }}'" class="status">{{
                    pending.status.value }}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col text-end">
            <h6 style="margin-right:166px">Deal Total: {{deal_total}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <h6 style="margin-right:169px">GST Total: {{total_gst}}</h6>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col text-end">
            <h6 style="margin-right:95px; font-weight:bold">Total Pending: Rs. {{total}}</h6>
        </div>
    </div>

</div>
<script src="{{url_for('static', filename = 'script.js')}}"></script>
{%endblock%}