{% extends 'index.html' %}

{% block content %}
{% include 'alert.html' %}

<style>
    .image-upload>input {
  display: none;
}
#pdf_upload {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        #pdf_upload img {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }

        #pdf_upload:hover img {
            transform: scale(1.1);
        }

</style>

<form action="{{request.path}}" method="post" enctype="multipart/form-data" style="overflow:hidden">
    <div class="w-100" id="action_buttons" style="display:block; position:fixed;">

        <div class="row mb-2">
            <div class="col-2">
                <button style="margin-left:30px" type="button" class="btn btn-success btn-sm edit_button mt-2"
                        onclick="hideDisable()"
                        id="edit_button">
                    Edit
                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-1">
                <input style="margin-left:30px" type="submit" value="Update" class="update_btn btn btn-success btn-sm"
                       onclick="location.href='{{url_for('record_details',record_id = record_to_update.id)}}'"
                       id="update_button" hidden/>

            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger btn-sm"
                        onclick="location.href='{{url_for('record_details',record_id = record_to_update.id)}}'"
                        id="discard_button" hidden>
                    Discard
                </button>
            </div>
            <div class="col d-flex justify-content-end">

                <div class="col-1">
                    <button type="button" class="btn btn-success btn-sm"
                            onclick="location.href='{{url_for('set_receive',record_id = record_to_update.id)}}'"

                            id="received_button" hidden>
                        Receive
                    </button>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-danger btn-sm"
                            id="cancelled_button"
                            onclick="location.href='{{url_for('set_cancel',record_id = record_to_update.id)}}'" hidden>
                        Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
    <script>
        function client_unchanged(){
    document.getElementById('alert_client').hidden = false;
}

    </script>

    <div class="w-100 row bg-light form-group">
        <div class="bg-light col">
            <div class="row" style="margin-left:5rem; margin-top:2rem" id="hide_table">
                <div class="col-11 mt-5 mb-2" style="font-size:x-large" id="visible_customer_name">
                    <u>{{customer.customer_name}}/{{record_to_update.bill}}</u>
                </div>
                <table class="table">

                    <tbody>
                    <tr>
                        <td>Customer Name:</td>
                        <td>{{customer.customer_name}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{customer.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{customer.phone_no}}</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>{{customer.address}}</td>
                    </tr>
                    <tr>
                        <td>Final Deal:</td>
                        <td>{{customer.final_deal}}</td>
                    </tr>
                    <tr>
                        <td>GST(18%):</td>
                        <td>{{customer.gst}} (Included)</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <script>
        function client_unchanged(){
    document.getElementById('alert_client').hidden = false;
}


            </script>
            <div class="w-75 mx-auto" style="margin-top:1rem">
                <div class="col mb-2" style="font-size:x-large" id="client_details" hidden>
                    <u>Client Details</u>
                </div>
                <div class="col-7 text-center mt-5 mb-2 form_editable bg-info text-light customer_name"
                     onclick="client_unchanged()" style="font-size:x-large" hidden>
                    {{record_to_update.customer_name.customer_name}}
                </div>
                <div class="col display-11 text-danger">
                    <p id="alert_client" hidden>Client Cannot be Changed !</p>
                </div>
                <div class="row display-11">

                    <div class="col form_editable" hidden>
                        <label>Email</label>
                        <input class="form-control" type="text" name="email"
                               value="{{record_to_update.customer_name.email}}">
                    </div>
                </div>
                <div class="row display-11">

                    <div class="col form_editable" hidden>
                        <label>Phone</label>
                        <input class="form-control" type="text" name="phone_no"
                               value="{{record_to_update.customer_name.phone_no}}">
                    </div>

                </div>

                <div class="col form_editable" hidden>
                    <label>Address</label>
                    <input class="form-control" type="text" name="address"
                           value="{{record_to_update.customer_name.address}}">
                </div>


                <div class="row display-11">

                    <div class="col form_editable mb-5" hidden>
                        <label>Final Deal</label>
                        <input class="form-control" type="text" name="final_deal"
                               value="{{record_to_update.customer_name.final_deal}}">
                    </div>
                </div>

            </div>
        </div>
        <div class="vl col-1"
             style="height:200px; border-left: 2px solid lightgrey; background-color:rgba(248,249,250); margin-top:10rem; margin-left:5rem; margin-bottom:5rem">

        </div>
        <div class="col bg-light" id="hide_table2">
            <div class="row bg-light mt-3">
                <div class="col d-flex justify-content-end mt-5" style="font-size:small">
                    Last Updated: {{last_updated}} ({{last_updated_time}})
                </div>
            </div>
            <div class="row w-75">
                <div class="col mb-2" style="font-size:x-large">
                    <u>Bill Details</u>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>AD/GP/Others:</td>
                        <td>{{record_to_update.content_advt}}</td>
                    </tr>
                    <tr>
                        <td>Release Order Date:</td>
                        <td>{{record_to_update.date_of_order}}</td>
                    </tr>
                    <tr>
                        <td>Date of Publication:</td>
                        <td>{{record_to_update.dop}}</td>
                    </tr>
                    <tr>
                        <td>Bill Date:</td>
                        <td>{{record_to_update.bill_date}}</td>
                    </tr>
                    <tr>
                        <td>Payment Status:</td>
                        <td><p class="status display-11" id="status">{{record_to_update.status_name.status_name}}</p>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <div class="row w-50">
            <div class="col mb-2" style="margin-top:5rem; font-size: x-large" id="bill_details" hidden>
                <u>Bill Details</u>
            </div>
            <div class="row display-11 mb-1">

                <div class="col form_editable" hidden>
                    <label>AD/GP/Others</label>
                    <textarea style="height:100px" class="form-control" name="content_advt">{{record_to_update.content_advt}}</textarea>
                </div>
            </div>
            <div class="row display-11 mb-1">

                <div class="col form_editable" hidden>
                    <label>Release Order Date</label>
                    <input class="form-control" type="date" name="date_of_order"
                           value="{{record_to_update.date_of_order}}">
                </div>
            </div>
            <div class="row display-11 mb-1">

                <div class="col form_editable" hidden>
                    <label>Date of Publication</label>
                    <input class="form-control" type="date" name="dop" value="{{record_to_update.dop}}">
                </div>
            </div>
            <div class="row display-11 mb-4">

                <div class="col form_editable" hidden>
                    <label>Bill Date</label>
                    <input class="form-control" type="date" name="bill_date" value="{{record_to_update.bill_date}}">
                </div>

            </div>


        </div>

    </div>

    <div class="row bg-light">
        <div class="row">
            <hr class="mx-auto"
                style="width:50%; border-left: 2px solid lightgrey; background-color:rgba(248,249,250)"/>
        </div>
    </div>
    <div class="row bg-light mb-5">
        <div class="col d-flex justify-content-center" style="margin-left:5rem">
            <div class="row">
                <div class="row d-flex justify-content-center" style="font-size:x-large">
                    <u>Attachment</u>
                </div>
                <div class="row">
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <a class="" target="_blank" style="text-decoration:none; font-size:small"
                               href="{{url_for('download',filename = record_to_update.filename)}}"><img
                                    src="{{url_for('static', filename='pdf_image.png')}}" id="current_pdf"
                                    width="150px" height="190px"></a>
                        </div>
                        <div class="col form_editable">
                            <button type="button" class="btn btn-success btn-sm" onclick="remove_pdf_file()"
                                    id="add_file" hidden>
                                Update+
                            </button>
                        </div>
                    </div>
                    <div class="row">

                        <div class="row d-flex justify-content-end">
                            <div class="col image-upload" id="pdf_upload" hidden>
                                <label for='file-input' class="mt-3" style="cursor:pointer" id="upload">
                                    <img src="https://via.placeholder.com/300x300.png?text=UPLOAD" width="300px"
                                         height="200px">
                                </label>
                                <input id="file-input" type="file" name="file" onchange="readURL(this)">
                            </div>
                            <div class="col">
                                <div class="row" style="font-size:small" hidden id="x">
                                    <div class="col d-flex justify-content-end">
                                        <button type="button" class="btn btn-danger" onclick="remove_selected_file()">X
                                        </button>
                                    </div>
                                </div>

                                <div class="row" id="selected_pdf">
                                    <div class="col">
                                        <img src="{{url_for('static', filename='pdf_image.png')}}" id="pdf_image"
                                             width="150px" height="190px" hidden>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div>


            </div>


        </div>
        {{form.customer_name (class="customer_name")}}

    </div>
</form>

<script src="{{url_for('static', filename='record_details.js')}}"></script>

{% include 'footer.html' %}
{% endblock %}