{%extends "index.html"%}

{%block content%}

<style>

        table {
            counter-reset: 1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);

        }




</style>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:left">
                Do you really want to delete this record?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm"
                        onclick="del_fun()">
                    Delete
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                        onclick="location.href='{{url_for('all_customer_names')}}'">Close
                </button>
            </div>
        </div>
    </div>
</div>


<br>


<h4 style="text-align:center" class="mb-2">Client List</h4>
<form method="POST" action="{{ url_for('search_clients') }}">
    <div class="row" style="margin-left:2px">
        <div class="col-2 d-flex justify-content-end">
            <input type="text" class="form-control form-control-sm w-75" name="search_clients"
                   placeholder="Search" value="{{request.form['search_clients']}}"/>
        </div>
        <div class="col-2 d-flex justify-content-start">
            <button type="submit" class="btn btn-primary btn-sm"
                    onclick="location.href='{{ url_for('search_clients') }}'">Search
            </button>
        </div>
        <div style="text-align: center">
            <u><h5 id="total_results"></h5></u>
        </div>
    </div>
</form>
<br>

<div class="w-75" style="overflow-y:scroll;overflow-x:hidden;height:450px; margin:auto; margin-top:2px">
    <div class="d-block" style="position:fixed;top:9rem; left:70rem;">
        <div class="mb-1">
            <a class="add_button"
               style="text-decoration:none;color:green;font-size:17px;padding:7px;font-weight:bold"
               href="{{ url_for('add_client') }}" id="add">Add <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row mb-1">

        <div class="col-2 text-center bg-light" id="action_dropdown">
            <div class="btn-group btn-group-sm mt-2">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item" data-target="#exampleModalCenter" data-toggle="modal">
                        Delete Selected
                    </button>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <form action="{{ url_for('csv_file_record_to_update') }}" method="POST">

                <div class="">
                    <input type="text" id="check_rec_ids" name="check_rec_ids" hidden/>
                    <button type="submit" class="btn btn-primary btn-sm" id="check_rec_ids_btn">Generate Custom Report
                    </button>
                </div>
                <div>
                    <input type="checkbox" name="update_check" id="update_check">
                    <label id="update_label">Update Record</label>
                </div>
            </form>
        </div>
    </div>


    <form action="" method="post">
        <table class="table table-hover table-sortable text-center" id="table-sortable">

            <thead>
            <tr>
                <th>S.No.</th>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Address</th>
                <th>Deal (In Rs.)</th>
                <th>GST (18%)</th>

            </tr>
            </thead>
            <tbody>
            {% for res in rec %}

            <tr style="cursor:pointer">
                <td>
                    <input onchange="check_box()" class="form-check-input" name="check-box" id="check"
                           type="checkbox"
                           value="{{ res.id }}">
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = res.id)}}'">{{
                    res.customer_name }}
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = res.id)}}'">{{ res.email
                    }}
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = res.id)}}'">{{ res.phone_no
                    }}
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = res.id)}}'">{{ res.address
                    }}
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = res.id)}}'">{{
                    res.final_deal }}
                </td>
                <td onclick="location.href='{{url_for('update_customer', customer_id = res.id)}}'">{{ res.gst }}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>
</div>
<br>


<div hidden>
    <form method="POST" action="/get_checked_boxes_for_client">

        <input type="text" id="rec_ids" name="rec_ids"/>
        <button type="submit" class="del_button" id="stu_ids_submit">
            Del Selected<i class="fa fa-minus" aria-hidden="true"></i>
        </button>

    </form>
</div>

<script src="{{url_for('static', filename='client_checkbox.js')}}"></script>

<script>

var table = document.getElementById("table-sortable");
var tbodyRowCount = table.tBodies[0].rows.length;
console.log(tbodyRowCount)
var total_results = document.getElementById("total_results").innerHTML ='Total Results Found'+' : '+ tbodyRowCount




</script>
{%endblock%}