{%extends "index.html"%}

{%block content%}


<br>

<div class="row">

    <div class="col-8" style="overflow-y:scroll; height:500px">
        <h3 style="text-align:center">Client List</h3>
        <br>
        <table class="table table-hover table-sortable">
            <thead>
            <tr>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Address</th>
                <th>Final Deal Amount (In Rs.)</th>
                <th>GST (18%)</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.customer_name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone_no }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.final_deal }}</td>
                <td>{{ customer.gst }}</td>

                <td>
                    <button type="button" id="del" class="btn btn-outline-danger" onclick="del_rec({{customer.id}})"
                            data-toggle="modal" data-target=".bd-example-modal-sm"
                    >Delete
                    </button>

                    <button type="button" class="btn btn-outline-success"
                            onclick="location.href='{{url_for('update_customer', customer_id = customer.id)}}'"
                    >Edit &nbsp;&nbsp;&nbsp;
                    </button>
                </td>

                <td>
                    <div id="bd-example-modal-sm{{customer.id}}" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are You Sure ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="location.href='{{url_for('all_customer_names')}}'">Close
                                    </button>
                                    <a class="btn btn-danger" id="modal_del{{customer.id}}"
                                            href="location.href='{{url_for('delete_customer', customer_id = customer.id)}}'">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col" style=" border-radius:15px" id="client_bg">
        <div class="col-8 mx-auto">
            <form action="{{url_for('add_customer')}}" method="POST">
                <br>
                <h3 style="text-align:center">Add New Client</h3>
                <br>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Client Full Name</label>
                        <input type="text" class="form-control" placeholder="Customer Name" name="customer_name"
                               required>
                    </div>
                    <div class="col">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email" name="email" required>

                    </div>
                </div>

                <div>
                    <label class="form-label">Phone No.</label>
                    <input type="text" class="form-control" placeholder="Phone No." name="phone_no" required>
                    <br>
                </div>
                <div>
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" placeholder="Address" name="address" required>
                    <br>
                </div>
                <div>
                    <label class="form-label">Amount Agreed Upon (In Rs.)</label>
                    <input type="number" step=".01" class="form-control" placeholder="Final Deal Amount" name="final_deal"
                           required>
                    <br>
                </div>

                <div class="d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>

            </form>
            <br>
        </div>

    </div>
</div>
<br>
<script>
function del_rec(id){
    $('#bd-example-modal-sm'+id).modal('show');
    $('#modal_del'+id).attr('href','')
    $('#modal_del'+id).attr('href','/delete_customer/'+id)
 }
</script>

{%endblock%}