<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a href="{{url_for('dashboard')}}" class="navbar-brand"><img src="{{url_for('static', filename= 'logo.png')}}"
                                                                 style="background-color: #ffffff; border-radius:50px;"
                                                                 height="40px" alt="LOGO" class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                   <a href="{{url_for('dashboard')}}" class="nav-link active">Sales Orders</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('all_vouchers_list')}}" class="nav-link active">Payment Vouchers</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('all_client_names')}}" class="nav-link active">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                {{session.username.capitalize()}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('manage_users')}}">Manage Users</a>

                <a class="dropdown-item" href="{{url_for('file_upload')}}">Import Records</a>

                <div class="dropdown-divider"></div>
                <div><a class="dropdown-item logout" href="{{url_for('logout')}}">Logout</a></div>
            </div>
                </li>

            </ul>
        </div>
    </div>
</nav>