{% extends 'index.html' %}

{% block content %}
{% include 'alert.html' %}

<style>
    .image-upload>input {
  display: none;
}
#pdf_upload {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        #pdf_upload img {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }

        #pdf_upload:hover img {
            transform: scale(1.1);
        }






</style>

<form action="{{request.path}}" method="post" enctype="multipart/form-data" style="overflow:hidden">
    <div class="w-100" id="action_buttons" style="display:block; position:fixed;">

        <div class="row mb-2">
            <div class="col-2">
                <button style="margin-left:30px" type="button" class="btn btn-success btn-sm edit_button mt-2"
                        onclick="editClient()"
                        id="edit_button">
                    Edit
                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-1">
                <input style="margin-left:30px" type="submit" value="Update" class="update_btn btn btn-success btn-sm"
                       onclick="location.href='{{url_for('update_customer',customer_id = customer_to_update.id)}}'"
                       id="update_button" hidden/>

            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger btn-sm"
                        onclick="location.href='{{url_for('update_customer',customer_id = customer_to_update.id)}}'"
                        id="discard_button" hidden>
                    Discard
                </button>
            </div>

        </div>

    </div>

    <div class="w-50 mx-auto row bg-light form-group" style="margin-top:10rem">
        <div id="hide_table">
            <table class="table">

            <tbody>
            <tr>
                <td>Customer Name: </td>
                <td>{{customer_to_update.customer_name}}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{customer_to_update.email}}</td>
            </tr>
            <tr>
                <td>Phone:  </td>
                <td>{{customer_to_update.phone_no}}</td>
            </tr>
            <tr>
                <td>Address:  </td>
                <td>{{customer_to_update.address}}</td>
            </tr>
            <tr>
                <td>Final Deal:  </td>
                <td>{{customer_to_update.final_deal}}</td>
            </tr>
            <tr>
                <td>GST(18%): </td>
                <td>{{customer_to_update.gst}}</td>
            </tr>
            </tbody>

        </table>
        </div>

        <div class="bg-light col">
            <div class="row">
                <div class="row">
                    <div class="col display-11 mb-2 form_editable customer_name"
                      id="customer_name" hidden>
                    <label>Customer Name</label>
                    <input class="form-control" type="text" name="customer_name"
                               value="{{customer_to_update.customer_name}}">
                </div>
                </div>

                <div class="row display-11">

                    <div class="col form_editable" hidden>
                        <label>Email</label>
                        <input class="form-control" type="text" name="email"
                               value="{{customer_to_update.email}}">
                    </div>
                </div>
                <div class="row display-11">

                    <div class="col form_editable" hidden>
                        <label>Phone</label>
                        <input class="form-control" type="text" name="phone_no"
                               value="{{customer_to_update.phone_no}}">
                    </div>

                </div>
                <div class="row display-11">

                    <div class="col form_editable" hidden>
                        <label>Address</label>
                        <input class="form-control" type="text" name="address"
                               value="{{customer_to_update.address}}">
                    </div>

                </div>
                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label>Final Deal</label>
                        <input class="form-control" type="text" name="final_deal"
                               value="{{customer_to_update.final_deal}}">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <input type="text" name="old_final_deal" value="{{old_final_deal}}" hidden>
</form>
<script src="{{url_for('static', filename='edit_client.js')}}"></script>
{% include 'footer.html' %}
{% endblock %}